
.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-bell:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-half:before { content: '\e805'; } /* '' */
.icon-signal:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-camera:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-link:before { content: '\e80b'; } /* '' */
.icon-basket:before { content: '\e80c'; } /* '' */
.icon-forward:before { content: '\e80d'; } /* '' */
.icon-briefcase:before { content: '\e80e'; } /* '' */
.icon-credit-card:before { content: '\e80f'; } /* '' */
.icon-megaphone:before { content: '\e810'; } /* '' */
.icon-left-open:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-plus:before { content: '\e813'; } /* '' */
.icon-minus:before { content: '\e814'; } /* '' */
.icon-key:before { content: '\e815'; } /* '' */
.icon-basket-1:before { content: '\e816'; } /* '' */
.icon-mobile:before { content: '\e817'; } /* '' */
.icon-basket-2:before { content: '\e818'; } /* '' */
.icon-key-1:before { content: '\e819'; } /* '' */
.icon-tag:before { content: '\e81a'; } /* '' */
.icon-home-1:before { content: '\e81b'; } /* '' */
.icon-picture-1:before { content: '\e81c'; } /* '' */
.icon-archive:before { content: '\e81d'; } /* '' */
.icon-briefcase-1:before { content: '\e81e'; } /* '' */
.icon-cc-nc:before { content: '\e81f'; } /* '' */
.icon-dot-3:before { content: '\e820'; } /* '' */
.icon-megaphone-1:before { content: '\e821'; } /* '' */
.icon-chart-line:before { content: '\e822'; } /* '' */
.icon-docs:before { content: '\e823'; } /* '' */
.icon-tags:before { content: '\e824'; } /* '' */
.icon-comment:before { content: '\e825'; } /* '' */
.icon-comment-alt:before { content: '\e826'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */